html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
    font-size: 16px;
    @extend %quicksand-400;
}
.title{
    text-align: center;
    line-height: 65px;
    font-size: 48px;
    color: $title;
    margin-bottom: 10px;
}
.text{
    text-align: center;
    line-height: 26px;
    max-width: 570px;
    margin: 0 auto 55px; //55  нижний отступ 
}
/* 
max-width: 470px;
    margin-bottom: 55px;
    color: #8d8d8d;
    line-height: 26px; */
