
@import  'app/scss/vars'       
@import  'app/scss/fonts'
@import  'app/scss/libs'
@import  'app/scss/reset'
@import  'app/scss/global' 
/* **********************************/
@import  'app/scss/header'
@import  'app/scss/footer'
@import  'app/scss/top'
@import  'app/scss/categories'
@import  'app/scss/video-fashion'
@import  'app/scss/product'
@import  'app/scss/promo'
@import  'app/scss/parners'
@import  'app/scss/blog'
@import  'app/scss/register-top'
@import  'app/scss/product-page'
@import  'app/scss/404-page'
@import  'app/scss/model'
@import  'app/scss/filter'
@import  'app/scss/shop'
@import  'app/scss/blog-page'

    






.related
    padding: 50px 0 120px
    title
        margin-bottom: 50px
    &__items
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-column-gap: 30px 
    .product-item__title
        padding: 5px 0px
    .product-item .star
        padding: 0





.person
    border: 1px solid #ececec
    padding: 40px 25px
    text-align: center
    margin-bottom: 40px
    img
        display: inline-block
        width: 160px
        height: 160px
        object-fit: cover
        margin: 0 auto
    &__name
        padding-top: 30px
        font-size: 18px
        color:$title
        @extend %roboto-700
    &__position
        padding: 10px 0 30px
        @extend %roboto-400
        color: $accent
    &__text
         line-height: 1.6
         padding-bottom: 30px
    &__sosial-link
         margin: 0 8px
         path
            fill: $default
         &:hover
            path
                fill: $accent
.latest-post
    padding: 35px 30px 40px
    border: 1px solid #ececec
    margin-bottom: 40px
    &__title
        color: $title
        @extend %roboto-400
        font-size: 22px
        margin-bottom: 35px
    &__item
        display: flex
        margin-top: 20px
        & + .latest-post__item
            border-top: 1px solid #ececec
            padding-top: 20px
    &__box
        padding-left: 15px
    &__title-link
        font-size: 18px
        color: $title
        line-height: 28px
        @extend %roboto-400
    &__box-tite
        margin-bottom: 8px
        &:hover
            color: $accent
    &__date
        color: $default
        position: relative
        padding-left: 30px
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0                                 
            background-image: url('../images/icons/calendar.svg')
            width: 16px
            height: 16px

#map
    height: 450px
    width: 100%

.contact
    padding: 120px 120px
    &__inner
        display: flex
    &__info
        max-width: 370px
        margin-right: 30px
    &__info-title
        font-size: 48px
        line-height: 58px
        @extend %roboto-700
        color: $title
        margin-bottom: 20px
    &__info-text
        margin-bottom: 60px
    &__info-item
        color: $title
        margin-top: 55px
        padding-left: 80px
        line-height: 26px
        position: relative
        &::before
            content: '' 
            position: absolute
            top: -3px
            left: 0
            width: 60px
            height: 60px 
            box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3)
        &::after
            content: ''
            position: absolute
            width: 20px
            height: 20px
            background-image: url('../images/icons/phone-icon.svg')
            top: 15px
            left: 20px
    &__info-item--location::after
        width: 14px
        left: 23px
        background-image: url('../images/icons/location-icon.svg')
    &__info-item-email::after
        width: 18px
        left: 21px
        background-image: url('../images/icons/email-icon.svg')
    &__info-phone
        display: block
        color: $title
    &__form
        padding: 60px 40px
        box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3)
        width: 100%
        font-size: 22px
        margin-bottom: 20px
        color: $title
        @extend %roboto-700
    &__form-input
        width: 100%
        display: block
        height: 60px
        background-color: $bg
        border: none
        padding: 0 24px
        margin-bottom: 30px
    &__form-textarea
        width: 100%
        display: block
        resize: none
        height: 200px
        background-color: $bg
        border: none
        padding: 24px
        margin-bottom: 30px
    &__form-box
        display: flex
        justify-content: space-between
        input
            width: 330px
    &__form-btn
        @extend %btn
        border: none

        
//147





@import  'app/scss/medea'    

